.home_container {
  .v--modal-overlay {
    background: rgba(0, 0, 0, 0.8)
  }
  .v--modal {
    background-color: #051930;
  }
}
.modal_special {
  .v-modal {
    position: absolute
  }
  .el-dialog__wrapper {
    position: absolute
  }
}
