html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Verdana', 'Tahoma', 'Lucida Grande', 'Microsoft YaHei',
    'Hiragino Sans GB', sans-serif;
}

body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
}

.span {
  color: red;
}
