@mixin main_container {
  width: 1920px;
  min-height: 1080px;
  position: relative;
  color: #00b2ff;
  background: url('../../assets/images/bg.png') no-repeat;
  background-size: 100% 100%;
}

@mixin main_body--base {
  display: block;
  z-index: 0;
  position: absolute;
  transform: rotate(0deg);
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
